.work/**
.codegen-cache/**
node_modules.*/**
.devcontainer/**
.github/**
.husky/**
.vscode/**
.vscode-clean/**
.yarn/**
dist/browser/**
docs/**
emoji/**
images/docs
images/icons/**
images/originals/**
node_modules/**
packages/**
patches/**
resources/**
scripts/**
src/**
**/*.map
**/*.pdn
**/*.js.LICENSE.txt
.DS_Store
.browserslistrc
.fantasticonrc.js
.git-blame-ignore-revs
.gitattributes
.gitignore
.mailmap
.oxfmtrc.json
.yarnrc
AGENTS.md
contributions.json
contributions.schema.json
custom-elements.json
custom-elements-manifest.config.mjs
pnpm-lock.yaml
pnpm-workspace.yaml
svgo.config.js
tsconfig*.json
tsconfig*.tsbuildinfo
webpack.config*.mjs
yarn.lock
.wdio-vscode-service
